<% provide(:title, "About") %>
<html>
<body>
<h1>Spokenvote.org</h1>

<h2>Pure and Trusted Social Consensus</h2>
<p>
  Spokenvote.org is a Web-based social consensus tool for groups of any size, from a local school board to an entire nation’s people, that radically enhances the group’s ability to reach consensus via an intuitive democratic process. Deeply inspired by Wikipedia, Spokenvote is an open-source, non-profit “spark” project optimally timed to set off a forest fire of change.
  <br><br>
  Today’s transformative landscape in social media is rapidly mixing with a generation impatient to be heard and empowered and unwilling to endure the paralysis of today’s political system. Next, consider the growing momentum of open-source, crowd-sourcing, and crowd-funding, and you have a perfect storm at the center of which some trusted, open entity will very soon find itself. We don’t believe that entity will be the government, and are almost equally sure it won’t be Facebook or Google. We believe it will be Spokenvote.
  <br>    <br>
  The central idea behind Spokenvote is to spontaneously capture people’s opinions and ideas as they naturally come up and then harness the power of crowds to turn those diverse views, opinions, and revelations into clear statements of consensus connected to large groups. Such a pivotal step is made possible by helping users organically adjust their own semantics (the way they phrased a vote), and as they make those adjustments, progress toward reaching a majority opinion together.
  <br>        <br>
  Spokenvote delivers a high-value proposition through:
  <br><br>
  Radical openness that inspires trust and a sense of ownership, like that achieved by Wikipedia today
  <br><br>
  Technology and practices that intelligently, but unobtrusively, prompt and guide users into the most common semantic variation of their statement (much as Google guides one in phrasing a search string), allowing them to quickly “swarm” an issue to reach majority consensus together
  <br><br>
  A foundation of neutrality in which Spokenvote never curates or manipulates content, giving users a real and authentic sense of ownership

</p>
</body>
</html>
