<% provide(:title, "Home") %>
<html>
    <body>
    <h1>Spokenvote Home</h1>
    <p>
      This is the home page for the
      <a href="http://spokenvote.org/">Spokenvote</a>
      Sample application.
    </p>
    </body>
</html>